
.border-right{
    border-right: 3px solid rgb(183, 183, 231);;
}

.text-safe{
    color: rgb(24, 175, 24);
}
.text-unsafe{
    color: #ff6700;
}

.area {
    text-align: center;
    font-size: 1.5em;
    color: rgb(110, 9, 9);
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px rgb(231, 6, 6), 0px 0px 7px #fff;
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}

.gauge-text{
    font-size: 30px;
}